.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #6983aa;
  height: 100vh;
}
.box {
  height: 450px;
  width: 350px;
  border-radius: 25px;
  background-color: white;
  text-align: center;
}
h1 {
  text-align: center;
  background-color: rgb(208, 175, 240);
  color: white;
}
.btn {
  border-radius: 50%;
  border: transparent;
  font-size: 30px;
  width: 40px;
  background-color: rgb(186, 142, 227);
  margin-left: 9px;
  color: white;
  min-height: 35px;
}
.btn:hover {
  background-color: #20bf6b;
  cursor: pointer;
}
.box input {
  height: 25px;
  text-align: center;
  outline: none;
  font-size: 15px;
  border: transparent;
  border-bottom: 3px solid rgb(207, 170, 241);
}
.lost {
  display: flex;
}
.bt {
  margin-left: 15px;
  border-radius: 50%;
  margin-top: 2px;
  width: 27px;
  height: 30px;
  border: none;
  font-size: 25px;
  color: white;
  background-color: rgb(207, 170, 241);
}
.bt:hover {
  background-color: crimson;
  cursor: pointer;
}
.lost li {
  margin-left: 15px;
  list-style: none;
  margin-top: 7px;
  font-size: 17px;
  color: mediumorchid;
  text-transform: capitalize;
  font-weight: bolder;
}
